body {
	background-color: #F6F8F9;
}
/*header-fixed*/
.logo {
	width: 38px;
	height: 15px;
	margin-top: 18px;
	margin-right: 74px;
	margin-left: 20px;
	display: inline-block;
	color: #FA6980;
}
.navigations {
	display: inline-block;
}
.nav-li {
	margin-left: 22px;
	height: 12px;
	display: inline-block;
}
.color {
	color: #343638;
}
.opacity {
	opacity: 0.5;
}
.photo {
	width: 30px;
	height: 30px;
	margin-top: 11px;
	margin-left: 40px;
}
.header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 50px;
	z-index: 2;
}

/*section-one*/
.hhh {
	font-size: 24px;
	color: #202124;
	margin-top: 75px;
	margin-bottom: 40px;
}
.section {
	width: 1160px;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
}
.relative1 {
	position: relative;
	width: 360px;
	height: 350px;
}
.absolute1 {
	position: absolute;
	top: 28px;
	left: 40px;
	width: 280px;
	height: 16px;
	color: white;
}
.inline {
	background-color: #FFFFFF;
	display: inline-block;
}
.margine {
	margin-right: 20px;
}
.hhhhh {
	width: 280px;
	height: 38px;
	color: #A6ADB4;
	margin: 66px auto 10px auto;
}
.span {
	color: #A6ADB4;
	margin-left: 40px;
}
/*section-two*/
.hhhhh2 {
	font-size: 24px;
	color: #202124;
	margin-top: 58px;
	margin-bottom: 40px;
}
.left-box {
	display: inline-block;
	width: 760px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
}
.paragaraph-absolute {
	position: absolute;
	top: 194px;
	left: 308px;
	color: white;
	font-size: 16px;
	width: 281px;
	height: 16px;
}
.left-image-relative {
	position: relative;
}
.image-relative {
	width: 760px;
	height: 430px;
	margin-bottom: 40px;
}
.right-box {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 834px;
	margin-left: 40px;
}
.right-box-image {
	margin-bottom: 120px;
}
.section2 {
	margin-left: 140px;

}